{
    "env": {
      "es6": true
    },
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "plugin:react/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "react", "react-hooks"],
    "rules": {
      "prettier/prettier": [
        "error",
        {
          "singleQuote": true,
          "trailingComma": "es5"
        }
      ],
      "react/react-in-jsx-scope": "off",
      "react/jsx-no-target-blank": "error",
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn"
    }
  }